FakeNewsNetDataset/gossipcop/*.csv
FakeNewsNetDataset/politifact/*.csv
ISOTDataset/*.csv
ISOTDataset/*.png
FakeNewsNetDataset/gossipcop/*.png
FakeNewsNetDataset/politifact/*.png
FakeNewsNetDataset/gossipcop/*.pdf
Pytorch/*.csv
Pytorch/politifact/
Pytorch./gossipcop/
*.png
plotting.py